html {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 200px auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 50px 250px 1fr; /* static sizing for now */

  gap: 50px;
  background-color: #3b82f6;
}

.sidebar .icon,
.logo .icon-main {
  filter: brightness(0) saturate(100%) invert(88%) sepia(76%) saturate(1735%)
    hue-rotate(177deg) brightness(111%) contrast(98%);
}

.sidebar-item a,
.logo p {
  text-decoration: none;
  color: #e2f4fd;
}

.sidebar-item svg {
  margin-top: 5px;
}

.sidebar-item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 10px;
  font-size: 24px;
}

.logo {
  display: flex;
  padding: 10px;
  grid-row: 1 / 2;
  gap: 10px;
  align-items: center;
  font-size: 24px;
}

.sidebar-upper,
.sidebar-lower {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar-upper {
  grid-row: 2 / 3;
}

.logo p,
.icon-main {
  padding-top: 20px;
}

.icon-main {
  width: 50px;
  height: 50px;
}

.icon {
  width: 25px;
  height: 25px;
}

.profile-pic-random img,
#profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#profile-pic-larger {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* sidebar above */

.header {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.content-container {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
}

.header-upper,
.header-lower {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.search input {
  width: 40vh;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: #e2e8f0;
}

.header-upper {
  justify-content: space-between;
  padding: 30px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
